# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/api/api.iml
/fuzzing4j.iml
/.idea/compiler.xml
/core/core.iml
/.idea/encodings.xml
/examples/examples.iml
/.idea/jarRepositories.xml
/jqf-impl/jqf-impl.iml
/maven-plugin/maven-plugin.iml
/.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
/.idea/libraries/Maven__classworlds_classworlds_1_1_alpha_2.xml
/.idea/libraries/Maven__com_google_guava_guava_20_0.xml
/.idea/libraries/Maven__com_google_inject_guice_no_aop_4_0.xml
/.idea/libraries/Maven__com_pholser_junit_quickcheck_core_1_0.xml
/.idea/libraries/Maven__com_pholser_junit_quickcheck_generators_1_0.xml
/.idea/libraries/Maven__com_thoughtworks_qdox_qdox_2_0_0.xml
/.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_7_0.xml
/.idea/libraries/Maven__commons_chain_commons_chain_1_1.xml
/.idea/libraries/Maven__commons_codec_commons_codec_1_11.xml
/.idea/libraries/Maven__commons_collections_commons_collections_3_2_2.xml
/.idea/libraries/Maven__commons_digester_commons_digester_1_8.xml
/.idea/libraries/Maven__commons_io_commons_io_2_10_0.xml
/.idea/libraries/Maven__commons_lang_commons_lang_2_4.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_1.xml
/.idea/libraries/Maven__dom4j_dom4j_1_1.xml
/.idea/libraries/Maven__edu_berkeley_cs_jqf_jqf_fuzz_1_7.xml
/.idea/libraries/Maven__edu_berkeley_cs_jqf_jqf_instrument_1_7.xml
/.idea/libraries/Maven__info_picocli_picocli_4_0_4.xml
/.idea/libraries/Maven__javax_annotation_jsr250_api_1_0.xml
/.idea/libraries/Maven__javax_enterprise_cdi_api_1_0.xml
/.idea/libraries/Maven__javax_inject_javax_inject_1.xml
/.idea/libraries/Maven__junit_junit_4_13_2.xml
/.idea/libraries/Maven__net_sf_jtidy_jtidy_r938.xml
/.idea/libraries/Maven__ognl_ognl_3_1_12.xml
/.idea/libraries/Maven__org_antlr_antlr_runtime_3_1_2.xml
/.idea/libraries/Maven__org_apache_commons_commons_compress_1_16_1.xml
/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_5.xml
/.idea/libraries/Maven__org_apache_commons_commons_math3_3_6_1.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_8.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_11.xml
/.idea/libraries/Maven__org_apache_maven_doxia_doxia_core_1_9_1.xml
/.idea/libraries/Maven__org_apache_maven_doxia_doxia_decoration_model_1_9_2.xml
/.idea/libraries/Maven__org_apache_maven_doxia_doxia_logging_api_1_9_1.xml
/.idea/libraries/Maven__org_apache_maven_doxia_doxia_module_xhtml5_1_9_1.xml
/.idea/libraries/Maven__org_apache_maven_doxia_doxia_module_xhtml_1_9_1.xml
/.idea/libraries/Maven__org_apache_maven_doxia_doxia_sink_api_1_9_1.xml
/.idea/libraries/Maven__org_apache_maven_doxia_doxia_site_renderer_1_9_2.xml
/.idea/libraries/Maven__org_apache_maven_doxia_doxia_skin_model_1_9_2.xml
/.idea/libraries/Maven__org_apache_maven_maven_artifact_3_5_3.xml
/.idea/libraries/Maven__org_apache_maven_maven_builder_support_3_5_3.xml
/.idea/libraries/Maven__org_apache_maven_maven_compat_3_0.xml
/.idea/libraries/Maven__org_apache_maven_maven_core_3_5_3.xml
/.idea/libraries/Maven__org_apache_maven_maven_model_3_5_3.xml
/.idea/libraries/Maven__org_apache_maven_maven_model_builder_3_5_3.xml
/.idea/libraries/Maven__org_apache_maven_maven_plugin_api_3_5_3.xml
/.idea/libraries/Maven__org_apache_maven_maven_repository_metadata_3_5_3.xml
/.idea/libraries/Maven__org_apache_maven_maven_resolver_provider_3_5_3.xml
/.idea/libraries/Maven__org_apache_maven_maven_settings_3_5_3.xml
/.idea/libraries/Maven__org_apache_maven_maven_settings_builder_3_5_3.xml
/.idea/libraries/Maven__org_apache_maven_plugin_tools_maven_plugin_annotations_3_5.xml
/.idea/libraries/Maven__org_apache_maven_plugin_tools_maven_plugin_tools_annotations_3_6_1.xml
/.idea/libraries/Maven__org_apache_maven_plugin_tools_maven_plugin_tools_api_3_6_1.xml
/.idea/libraries/Maven__org_apache_maven_plugin_tools_maven_plugin_tools_generators_3_6_1.xml
/.idea/libraries/Maven__org_apache_maven_plugin_tools_maven_plugin_tools_java_3_6_1.xml
/.idea/libraries/Maven__org_apache_maven_plugins_maven_plugin_plugin_3_6_1.xml
/.idea/libraries/Maven__org_apache_maven_reporting_maven_reporting_api_3_0.xml
/.idea/libraries/Maven__org_apache_maven_reporting_maven_reporting_impl_3_0_0.xml
/.idea/libraries/Maven__org_apache_maven_resolver_maven_resolver_api_1_1_1.xml
/.idea/libraries/Maven__org_apache_maven_resolver_maven_resolver_impl_1_1_1.xml
/.idea/libraries/Maven__org_apache_maven_resolver_maven_resolver_spi_1_1_1.xml
/.idea/libraries/Maven__org_apache_maven_resolver_maven_resolver_util_1_1_1.xml
/.idea/libraries/Maven__org_apache_maven_shared_maven_shared_utils_3_2_1.xml
/.idea/libraries/Maven__org_apache_maven_wagon_wagon_provider_api_1_0_beta_6.xml
/.idea/libraries/Maven__org_apache_poi_poi_4_1_2.xml
/.idea/libraries/Maven__org_apache_poi_poi_ooxml_4_1_2.xml
/.idea/libraries/Maven__org_apache_velocity_velocity_1_7.xml
/.idea/libraries/Maven__org_apache_velocity_velocity_tools_2_0.xml
/.idea/libraries/Maven__org_codehaus_plexus_plexus_archiver_3_6_0.xml
/.idea/libraries/Maven__org_codehaus_plexus_plexus_classworlds_2_5_2.xml
/.idea/libraries/Maven__org_codehaus_plexus_plexus_component_annotations_1_7_1.xml
/.idea/libraries/Maven__org_codehaus_plexus_plexus_container_default_1_0_alpha_9_stable_1.xml
/.idea/libraries/Maven__org_codehaus_plexus_plexus_i18n_1_0_beta_10.xml
/.idea/libraries/Maven__org_codehaus_plexus_plexus_interpolation_1_24.xml
/.idea/libraries/Maven__org_codehaus_plexus_plexus_io_3_0_1.xml
/.idea/libraries/Maven__org_codehaus_plexus_plexus_utils_3_1_0.xml
/.idea/libraries/Maven__org_codehaus_plexus_plexus_velocity_1_2.xml
/.idea/libraries/Maven__org_eclipse_sisu_org_eclipse_sisu_inject_0_3_3.xml
/.idea/libraries/Maven__org_eclipse_sisu_org_eclipse_sisu_plexus_0_3_3.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Maven__org_iq80_snappy_snappy_0_4.xml
/.idea/libraries/Maven__org_jacoco_org_jacoco_core_0_8_2.xml
/.idea/libraries/Maven__org_jacoco_org_jacoco_report_0_8_2.xml
/.idea/libraries/Maven__org_javaruntype_javaruntype_1_3.xml
/.idea/libraries/Maven__org_javassist_javassist_3_20_0_GA.xml
/.idea/libraries/Maven__org_objenesis_objenesis_2_6.xml
/.idea/libraries/Maven__org_ow2_asm_asm_8_0_1.xml
/.idea/libraries/Maven__org_ow2_asm_asm_analysis_6_2_1.xml
/.idea/libraries/Maven__org_ow2_asm_asm_analysis_9_1.xml
/.idea/libraries/Maven__org_ow2_asm_asm_commons_6_2_1.xml
/.idea/libraries/Maven__org_ow2_asm_asm_commons_9_1.xml
/.idea/libraries/Maven__org_ow2_asm_asm_tree_6_2_1.xml
/.idea/libraries/Maven__org_ow2_asm_asm_tree_9_1.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_25.xml
/.idea/libraries/Maven__org_sonatype_plexus_plexus_cipher_1_4.xml
/.idea/libraries/Maven__org_sonatype_plexus_plexus_sec_dispatcher_1_4.xml
/.idea/libraries/Maven__org_sonatype_sisu_sisu_guice_noaop_2_1_7.xml
/.idea/libraries/Maven__org_sonatype_sisu_sisu_inject_bean_1_4_2.xml
/.idea/libraries/Maven__org_sonatype_sisu_sisu_inject_plexus_1_4_2.xml
/.idea/libraries/Maven__org_tukaani_xz_1_8.xml
/.idea/libraries/Maven__oro_oro_2_0_8.xml
/.idea/libraries/Maven__ru_vyarus_generics_resolver_3_0_1.xml
/.idea/misc.xml
/.idea/modules.xml
/parent.iml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/libraries/Maven__antlr_antlr_2_7_2.xml
/.idea/libraries/Maven__classworlds_classworlds_1_1.xml
/.idea/libraries/Maven__commons_codec_commons_codec_1_6.xml
/.idea/libraries/Maven__commons_digester_commons_digester_1_6.xml
/.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_0_4.xml
/.idea/libraries/Maven__commons_validator_commons_validator_1_3_1.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_0_2.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_0_1.xml
/.idea/libraries/Maven__org_apache_maven_doxia_doxia_core_1_2.xml
/.idea/libraries/Maven__org_apache_maven_doxia_doxia_decoration_model_1_4.xml
/.idea/libraries/Maven__org_apache_maven_doxia_doxia_logging_api_1_4.xml
/.idea/libraries/Maven__org_apache_maven_doxia_doxia_module_fml_1_4.xml
/.idea/libraries/Maven__org_apache_maven_doxia_doxia_module_xhtml_1_4.xml
/.idea/libraries/Maven__org_apache_maven_doxia_doxia_sink_api_1_4.xml
/.idea/libraries/Maven__org_apache_maven_doxia_doxia_site_renderer_1_4.xml
/.idea/libraries/Maven__org_apache_maven_maven_aether_provider_3_0.xml
/.idea/libraries/Maven__org_apache_maven_maven_artifact_3_0.xml
/.idea/libraries/Maven__org_apache_maven_maven_core_3_0.xml
/.idea/libraries/Maven__org_apache_maven_maven_model_3_0.xml
/.idea/libraries/Maven__org_apache_maven_maven_model_builder_3_0.xml
/.idea/libraries/Maven__org_apache_maven_maven_plugin_api_3_0.xml
/.idea/libraries/Maven__org_apache_maven_maven_repository_metadata_3_0.xml
/.idea/libraries/Maven__org_apache_maven_maven_settings_3_0.xml
/.idea/libraries/Maven__org_apache_maven_maven_settings_builder_3_0.xml
/.idea/libraries/Maven__org_apache_maven_plugins_maven_dependency_plugin_3_1_1.xml
/.idea/libraries/Maven__org_apache_maven_reporting_maven_reporting_impl_2_3.xml
/.idea/libraries/Maven__org_apache_maven_shared_file_management_3_0_0.xml
/.idea/libraries/Maven__org_apache_maven_shared_maven_artifact_transfer_0_9_1.xml
/.idea/libraries/Maven__org_apache_maven_shared_maven_common_artifact_filters_3_0_1.xml
/.idea/libraries/Maven__org_apache_maven_shared_maven_dependency_analyzer_1_10.xml
/.idea/libraries/Maven__org_apache_maven_shared_maven_dependency_tree_3_0_1.xml
/.idea/libraries/Maven__org_apache_maven_shared_maven_shared_io_3_0_0.xml
/.idea/libraries/Maven__org_apache_maven_shared_maven_shared_utils_3_2_0.xml
/.idea/libraries/Maven__org_apache_maven_wagon_wagon_provider_api_2_10.xml
/.idea/libraries/Maven__org_apache_struts_struts_core_1_3_8.xml
/.idea/libraries/Maven__org_apache_struts_struts_taglib_1_3_8.xml
/.idea/libraries/Maven__org_apache_struts_struts_tiles_1_3_8.xml
/.idea/libraries/Maven__org_apache_velocity_velocity_1_5.xml
/.idea/libraries/Maven__org_codehaus_plexus_plexus_classworlds_2_2_3.xml
/.idea/libraries/Maven__org_codehaus_plexus_plexus_component_annotations_1_5_5.xml
/.idea/libraries/Maven__org_codehaus_plexus_plexus_container_default_1_0_alpha_30.xml
/.idea/libraries/Maven__org_codehaus_plexus_plexus_i18n_1_0_beta_7.xml
/.idea/libraries/Maven__org_codehaus_plexus_plexus_interpolation_1_14.xml
/.idea/libraries/Maven__org_codehaus_plexus_plexus_io_3_0_0.xml
/.idea/libraries/Maven__org_codehaus_plexus_plexus_velocity_1_1_7.xml
/.idea/libraries/Maven__org_eclipse_aether_aether_util_0_9_0_M2.xml
/.idea/libraries/Maven__org_ow2_asm_asm_9_1.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_5.xml
/.idea/libraries/Maven__org_sonatype_aether_aether_api_1_7.xml
/.idea/libraries/Maven__org_sonatype_aether_aether_impl_1_7.xml
/.idea/libraries/Maven__org_sonatype_aether_aether_spi_1_7.xml
/.idea/libraries/Maven__org_sonatype_aether_aether_util_1_7.xml
/.idea/libraries/Maven__org_sonatype_plexus_plexus_sec_dispatcher_1_3.xml
/.idea/libraries/Maven__sslext_sslext_1_2_0.xml
/.idea/libraries/Maven__xerces_xercesImpl_2_9_1.xml
/.idea/libraries/Maven__xml_apis_xml_apis_1_3_04.xml
